#calculator{
  border: 1px solid rgb(136, 132, 132);
  border-radius: 5px;
  width: 250px;
  background-color: rgb(193, 245, 245);
}

#display{
  margin: 20px;
  width: 80%;
  font-size: 30px;
}

#buttons-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
    width: 55px;
    height: 55px;
    margin: 5px;
}